<.flash_group flash={@flash} />

<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <h1 class="text-xl text-indigo-600 hover:text-indigo-500">
      <.link navigate={~p"/conversations"}>Conversations</.link>
    </h1>
  </div>
</div>
